<html><nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" ng-controller="navigationController">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered" id="indexCollapseBtn">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div ng-click="redirect('list')" class="navbar-brand navbar-brand-centered" style="line-height: 1em; cursor: pointer;" id="indexStayAWhileBtn">{{user}}</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-brand-centered">
					<ul class="nav navbar-nav">
						<li ng-click="redirect('logout')" ng-class="location == '/logout' ? 'active' : ''" id="indexQueuesBtn"><a style="cursor: pointer;">Logout</a></li>
						<li ng-click="redirect('list')" ng-class="location == '/list' ? 'active' : ''" id="indexAboutBtn"><a style="cursor: pointer;">My map</a></li>
						<li ng-click="redirect('follow')" ng-class="location == '/follow' ? 'active' : ''" id="indexAboutBtn"><a style="cursor: pointer;">Following</a></li>
					</ul>

					<section class="search" id="searchBox">
						 <form class="search">
							 <input type="text" name="searchInput" ng-model="results" ng-change="search()"/>
							 	<ul class="results {{class}}" id="searchResults">
							     <li ng-repeat="action in actions" ng-click='goto(action.name)'>{{action.name}}</li>
							   </ul>
						 </form>
					</section>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
</html>